@import '../../index.css';

.home {
  background-color: var(--off-white-color);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100vw;
}

.home__image {
  height: 25rem;
  width: 100vw;
  z-index: -1;
  margin-bottom: -3.125rem;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__title {
  text-align: center;
}

.home__row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem;
}
