@import '../../index.css';

.checkout__ad {
  max-width: 100vw;
  object-fit: cover;
}

.checkout__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.checkout__left {
  width: 65%;
}

.checkout__right {
  width: 33%;
  margin: 1rem;
}
