@import '../../index.css';

.checkoutProduct {
  display: flex;
  align-items: flex-start;
  margin: 1.25rem 0;
}

.checkoutProduct__image {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  margin-right: 1rem;
}

.checkoutProduct__details {
  padding-left: 1.25rem;
}

.checkoutProduct__title,
.checkoutProduct__price {
  font-size: 1.1rem;
  font-weight: 800;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct button {
  background: var(--orange-color);
  border: 1px solid;
  border-color: var(--dark-grey-color);
  border-radius: var(--default-border-radius);
  margin: 0.75rem auto;
  padding: 0.25rem 0.5rem;
  color: var(--black-color);
}
