@import '../../index.css';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 3.75rem;
  position: sticky;
  top: 0;
  background-color: var(--black-color);
  z-index: 100;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.header__logoImage {
  color: var(--orange-color);
}

.header__logoTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white-color);
  margin-left: 0.5rem;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--default-border-radius);
  margin: 0 0.25rem;
}

.header__searchInput {
  height: 1.25rem;
  width: 100%;
  padding: 0.25rem;
  border: none;
}

.header__searchIcon {
  padding: 0.15rem;
  height: 0.5rem;
  background-color: var(--orange-color);
  color: var(--black-color);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__item {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  margin: 0 0.25rem;
}

.nav__itemLine1 {
  font-size: 0.85rem;
}

.nav__itemLine2 {
  font-size: 1rem;
  font-weight: 800;
}

.nav__itemBasket {
  display: flex;
  align-items: center;
  margin: 0 1rem 0 0.25rem;
  color: var(--white-color);
}

.nav__basketCount {
  margin: 0 0.25rem;
}
